### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [38]:
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [39]:
total_players = purchase_data['SN'].nunique()
# print(f"Total Number of Players: {total_players}")
df_total_players = pd.DataFrame({'Total Players': [total_players]})
df_total_players

   Total Players
0            576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [56]:
# total number of unique items
unique_items = purchase_data['Item ID'].nunique()

# average purchase price
average_price = purchase_data['Price'].mean()

# total number of purchases
total_purchases = purchase_data['Purchase ID'].count()

# total revenue
total_revenue = purchase_data['Price'].sum()

purchasing_summary = pd.DataFrame({
    'Number of Unique Items': [unique_items],
    'Average Price': [average_price],
    'Number of Purchases': [total_purchases],
    'Total Revenue': [total_revenue]
})
purchasing_summary['Average Price'] = purchasing_summary['Average Price'].round(2)
purchasing_summary = purchasing_summary.style.format({
    'Average Price': "${:.2f}",
    'Total Revenue': "${:,.2f}"
})
# print(purchasing_summary)
purchasing_summary

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [57]:
total_players = purchase_data['SN'].nunique()
gender_counts = purchase_data.groupby('Gender')['SN'].nunique().sort_values(ascending=False)
gender_percentage = (gender_counts / total_players) * 100

# combine counts and percentages into a DataFrame
gender_demographics = pd.DataFrame({
    'Percentage of Players': gender_percentage.round(2),
    'Total Count': gender_counts
})

# reset the index to turn 'Gender' into a column
gender_demographics = gender_demographics.reset_index()

# rename the 'Gender' column to an empty string to remove the header
gender_demographics = gender_demographics.rename(columns={'Gender': ''})

# ensure the order of genders (if needed)
desired_order = ['Male', 'Female', 'Other / Non-Disclosed']
gender_demographics[''] = pd.Categorical(
    gender_demographics[''],
    categories=desired_order,
    ordered=True
)
gender_demographics = gender_demographics.sort_values('')

styled_gender_demographics = gender_demographics.style.hide_index().format({
    'Percentage of Players': "{:.2f}"
})

styled_gender_demographics

C:\Users\ed069\AppData\Local\Temp\ipykernel_28220\691572187.py:32: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  styled_gender_demographics = gender_demographics.style.hide_index().format({


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [83]:
# Count unique players by gender
gender_counts = purchase_data.groupby('Gender')['SN'].nunique().sort_values(ascending=False)

# Group data by gender
gender_purchase = purchase_data.groupby('Gender')

# Purchase count by gender
purchase_count = gender_purchase['Purchase ID'].count()

# Average purchase price by gender
avg_purchase_price = gender_purchase['Price'].mean()

# Total purchase value by gender
total_purchase = gender_purchase['Price'].sum()

# Average purchase total per person by gender
avg_purchase_per_person = total_purchase / gender_counts

# Combine counts and calculations into a DataFrame
gender_purchasing_summary = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price': avg_purchase_price,
    'Total Purchase Value': total_purchase,
    'Avg Purchase Total per Person': avg_purchase_per_person.round(2)  # Renamed here
})

# Reset the index to turn 'Gender' into a column
gender_purchasing_summary = gender_purchasing_summary.reset_index()

gender_purchasing_summary = gender_purchasing_summary.sort_values('Gender')
def format_float(x, decimals=5):
    if pd.isnull(x):
        return x
    formatted = f"{x:.{decimals}f}".rstrip('0')
    return formatted

# Apply styling: hide index, format columns
styled_gender_purchasing_summary = gender_purchasing_summary.style.hide_index().format({
    'Average Purchase Price': format_float,
    'Total Purchase Value': "{:.2f}",
    'Avg Purchase Total per Person': "${:.2f}"
})

# Display the styled DataFrame
styled_gender_purchasing_summary

C:\Users\ed069\AppData\Local\Temp\ipykernel_28220\204156627.py:38: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  styled_gender_purchasing_summary = gender_purchasing_summary.style.hide_index().format({

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

In [86]:
# define age bins and labels
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, np.inf]  # Added <10 and 40+
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']  # Corresponding labels

# categorize players into age groups
purchase_data['Age Group'] = pd.cut(
    purchase_data['Age'],
    bins=age_bins,
    labels=age_labels,
    right=False
)

total_players = purchase_data['SN'].nunique()

age_counts = purchase_data.groupby('Age Group')['SN'].nunique()

age_percentage = (age_counts / total_players) * 100

age_demographics = pd.DataFrame({
    'Percentage of Players': age_percentage,
    'Total Count': age_counts
}).reset_index()

# ensure the Age Groups are in the desired order
age_demographics['Age Group'] = pd.Categorical(
    age_demographics['Age Group'],
    categories=age_labels,
    ordered=True
)
age_demographics = age_demographics.sort_values('Age Group')
age_demographics = age_demographics.rename(columns={'Age Group': ''})
styled_age_demographics = age_demographics.style.hide_index().format({
    'Percentage of Players': "{:.2f}"
})
styled_age_demographics

C:\Users\ed069\AppData\Local\Temp\ipykernel_28220\1802100824.py:32: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  styled_age_demographics = age_demographics.style.hide_index().format({

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

In [89]:
# define age bins and labels
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, np.inf]  # Added <10 and 40+
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']  # Corresponding labels

# categorize players into age groups
purchase_data['Age Group'] = pd.cut(
    purchase_data['Age'],
    bins=age_bins,
    labels=age_labels,
    right=False
)

# bin the purchase data by age group
age_grouped = purchase_data.groupby('Age Group')

purchase_count_age = age_grouped['Purchase ID'].count()
avg_purchase_price_age = age_grouped['Price'].mean()
total_purchase_value_age = age_grouped['Price'].sum()
avg_purchase_per_person_age = total_purchase_value_age / age_counts

purchasing_analysis_age = pd.DataFrame({
    'Purchase Count': purchase_count_age,
    'Average Purchase Price': avg_purchase_price_age.round(2),
    'Total Purchase Value': total_purchase_value_age.round(2),
    'Average Purchase Total per Person': avg_purchase_per_person_age.round(2)
}).reset_index()

purchasing_analysis_age = purchasing_analysis_age.rename(columns={'Age Group': ''})
purchasing_analysis_age = purchasing_analysis_age.style.hide_index().format({
    'Average Purchase Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}",
    'Average Purchase Total per Person': "${:,.2f}"
})
purchasing_analysis_age

C:\Users\ed069\AppData\Local\Temp\ipykernel_28220\3650420031.py:29: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  purchasing_analysis_age = purchasing_analysis_age.style.hide_index().format({

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * SN(screen name)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

In [93]:
# calculate total purchase value per player
player_purchases = purchase_data.groupby('SN').agg({
    'Purchase ID': 'count',
    'Price': ['mean', 'sum']
})

player_purchases.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
player_purchases = player_purchases.reset_index()
player_purchases['Average Purchase Price'] = player_purchases['Average Purchase Price'].round(2)
top_spenders = player_purchases.sort_values('Total Purchase Value', ascending=False).head(5)
top_spenders = top_spenders.style.hide_index().format({
    'Average Purchase Price': '${:,.2f}',
    'Total Purchase Value': '${:,.2f}',
})
# print(top_spenders)
top_spenders

C:\Users\ed069\AppData\Local\Temp\ipykernel_28220\2832855972.py:11: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  top_spenders = top_spenders.style.hide_index().format({

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

In [95]:
# group by item id and item name
item_grouped = purchase_data.groupby(['Item ID', 'Item Name'])

# calculate purchase count, item price, and total purchase value
item_stats = item_grouped.agg({
    'Purchase ID': 'count',
    'Price': 'first',
    'Price': 'sum'
}).rename(columns={
    'Purchase ID': 'Purchase Count',
    'Price': 'Total Purchase Value'
})

# reset index to flatten the dataframe
item_stats = item_stats.reset_index()

# since 'Price' is used twice, we need to adjust
item_stats['Item Price'] = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].first().values
# reorder columns
item_stats = item_stats[['Item ID', 'Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]
# sort by Purchase Count descending and select top 5
most_popular_items = item_stats.sort_values('Purchase Count', ascending=False).head(5)
most_popular_items = most_popular_items.style.hide_index().format({
    'Item Price' : "${:.2f}",
    'Total Purchase Value' : "${:.2f}",
})
# print(most_popular_items)
most_popular_items

C:\Users\ed069\AppData\Local\Temp\ipykernel_28220\3120577826.py:23: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  most_popular_items = most_popular_items.style.hide_index().format({

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame

In [96]:
# sort the items by Total Purchase Value descending and select top 5
most_profitable_items = item_stats.sort_values('Total Purchase Value', ascending=False).head(5)
most_profitable_items = most_profitable_items.style.hide_index().format({
    'Item Price' : "${:.2f}",
    'Total Purchase Value' : "${:.2f}",
})
# print(most_profitable_items)
most_profitable_items

C:\Users\ed069\AppData\Local\Temp\ipykernel_28220\1550590328.py:3: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  most_profitable_items = most_profitable_items.style.hide_index().format({